
David
sampledocs
update
download
DocNet/DLL
App_Data/LogFiles
DocNet/tmp
Monitor*/
*.scc
*.vssscc
*.svn
*.ibo
*.refresh


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.csv
!Silverlight.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
!DocNet/Bin
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
Images/Movies
Images/Books
Images/Games

.vs/
